<!DOCTYPE html>
<html>
<head>
    <title>Памылка | Інтэрнэт-крама настольных гульняў</title>
    <meta charset="utf-8"/>
    <link rel='icon' href='/images/interface/icon.png'/>
    <link rel="stylesheet" type="text/css" href="/style/error.css"/>
</head>
<body>
    <div class="container">
        <h1 class="error-declaration">Адбылася памылка :(</h1>
        <p class="error-message"><%= error.message %></p>
    </div>
</body>
</html>