<!DOCTYPE html>
<html>
<head>
    <title>Абранае | Інтэрнэт-крама настольных гульняў</title>
    <meta charset="utf-8"/>
    <link rel='icon' href='/images/interface/icon.png'/>
    <link rel="stylesheet" type="text/css" href="/style/favs.css"/>
</head>
<body>
    <header>
        <img src="/images/interface/icon.png"/>
        <h1>Інтэрнэт-крама настольных гульняў</h1>
    </header>
    <div class="content">
        <nav>
            <ul>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/favs" class="active">Абранае</a></li>
                <li><a href="/cart">Кошык</a></li>
                <li><a href="/orders">Заказы</a></li>
                <li><a href="/account">Акаўнт</a></li>
            </ul>
        </nav>
        <main>
            <div class="buttons-row">
                <form action="/api/move-favs-to-cart" method="POST" id="move-favs-to-cart-form">
                    <button type="submit">Перамясціць усё ў кошык</button>
                </form>
                <form action="/api/clear-favs" method="POST" id="clear-favs-form">
                    <button type="submit" class="cancel">Ачысціць абранае</button>
                </form>
            </div>
            <div id="items-set" class="items-set"></div>
        </main>
    </div>
    <footer>
        <p>(ɔ) Аляксей Раманчук 2023. All rights reversed.</p>
        <a href="https://www.flaticon.com/free-icons/board-game" title="board game icons">Board game icons created by Freepik - Flaticon</a>
    </footer>
    <script>
        const $ = q => document.querySelector(q);

        updateFavs();

        function updateFavs() {
            fetch(`/api/favs`)
                .then(res => res.json())
                .then(items => {
                    const kItemsSet = $('#items-set');
                    kItemsSet.innerHTML = '';
                    items.forEach(item => {
                        let [iId, iTitle, iPrice, iImage, iIsInStock, iIsAvailable, iIsInCart] = item;
                        kItemsSet.innerHTML += `
                            <div id="item-${iId}" class="item-block" onclick="itemBlockOnClick(event, ${iId})">
                                <img src="${iImage}" class="item-image"/>
                                <p class="item-title">${iTitle}</p>
                                <p class="item-price">${iPrice.toFixed(2)} Br</p>
                                <div class="item-btns">
                                    <button class="item-button item-tgl-in-favs" style="background-image: url('/images/interface/rem_from_favs_btn.png');"></button>
                                    <button class="item-button item-tgl-in-cart"></button>
                                </div>
                            </div>
                        `;
                        loadItem(iId, iIsInStock, iIsAvailable, iIsInCart);
                    });
            });
        }

        function loadItem(iId, iIsInStock, iIsAvailable, iIsInCart) {
            let tglInCartBtn = $(`#item-${iId} .item-tgl-in-cart`);
            tglInCartBtn.style.backgroundImage = 
                `url(${getInCartToggleBtnImg(iIsInCart)}`;
            tglInCartBtn.disabled = !iIsInCart && (!iIsAvailable || !iIsInStock);
            if (!iIsAvailable) {
                $(`#item-${iId}`).innerHTML += '<p class="item-not-available">Недаступна</p>';
            } else if (!iIsInStock) {
                $(`#item-${iId}`).innerHTML += '<p class="item-not-in-stock">Няма ў наяўнасці</p>';
            }
        }

        function itemBlockOnClick(e, id) {
            if (e.target === $(`#item-${id} .item-tgl-in-favs`)) {
                toggleItemInFavs(id);
                return;
            } else if (e.target === $(`#item-${id} .item-tgl-in-cart`)) {
                toggleItemInCart(id);
                return;
            }
            window.location.href = `/item/${id}`;
        }

        function toggleItemInFavs(id) {
            fetch(`/api/toggle-in-favs/${id}`, { method: 'POST' })
                .then(() => $(`#item-${id}`).remove());
        }
        function toggleItemInCart(id) {
            fetch(`/api/toggle-in-cart/${id}`, { method: 'POST' })
                .then(res => res.json())
                .then(json => {
                    $(`#item-${id} .item-tgl-in-cart`).style.backgroundImage = 
                        `url(${getInCartToggleBtnImg(json.isInCart)})`;
                });
        }
        function getInCartToggleBtnImg(isInCart) {
            return isInCart ? '/images/interface/rem_from_cart_btn.png' : '/images/interface/add_to_cart_btn.png'
        }
    </script>
</body>
</html>